* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: space-between;
  align-items: center;
}

.no-list-style {
  list-style: none;
}

.p-10 {
  padding: 10px;
}

.p-0 {
  padding: 0;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-15 {
  margin-bottom: 15px;
}

a img {
  max-width: 60px;
}

.main-menu li {
  margin: 0 10px;
  border-bottom: 3px solid transparent;
  height: 100px;
  line-height: 100px;
}
.main-menu li:hover {
  border-bottom: 3px solid #0282f9;
}
.main-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #303030;
}
.main-menu li a:hover {
  color: #0282f9;
}