* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
  align-items: center;
}

.no-list-style {
  list-style: none;
}

.p-10 {
  padding: 10px;
}

.p-0 {
  padding: 0;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mr-50 {
  margin-right: 50px;
}

.item-active {
  border-bottom: 3px solid #0282f9;
  color: #0282f9 !important;
  display: inline-block;
  height: 100%;
}

.link-logo .img-logo {
  max-width: 60px;
}

.main-menu li {
  margin: 0 10px;
  height: 100px;
  line-height: 100px;
}
.main-menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #303030;
}
.main-menu li a:hover {
  color: #0282f9;
}

.products {
  background: #1c1c1c;
}
.products .container {
  padding: 0;
  flex-direction: column;
}
.products .loader {
  color: #fff;
  background-color: #0282f9;
  border: none;
  text-transform: uppercase;
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  margin: 40px 0 20px;
  align-self: center;
}
.products .container-comics {
  flex-wrap: wrap;
}
.products .container-comics li {
  width: calc(16.6666666667% - 30px);
  margin: 50px 15px 0 15px;
}
.products .card {
  height: 100%;
  width: 100%;
}
.products .card a {
  width: 100%;
  display: inline-block;
  text-decoration: none;
}
.products .card a .container-img {
  height: 170px;
  width: 100%;
  overflow: hidden;
}
.products .card a .container-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .card a .title-comics {
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 20px;
}

footer {
  border-top: 8px solid #0282f9;
}

.footer-social {
  background-color: #303030;
}
.footer-social .footer-cta {
  color: #fff;
  background-color: #303030;
  border: 2px solid #0282f9;
  padding: 10px 15px;
  font-size: 26px;
  line-height: 26px;
}
.footer-social .container .follow {
  color: #0282f9;
  font-size: 26px;
  font-weight: 700;
  margin-right: 15px;
}
.footer-social .container img {
  margin: 0 10px;
}
.footer-social .container img:hover {
  cursor: pointer;
}

.jumbotron {
  padding: 9% 0 0 14%;
  height: 430px;
  width: 100%;
  background-image: url("/images/jumbotron.jpg");
  background-position: top center;
  border-bottom: 50px solid #0282f9;
}
.jumbotron .cover {
  position: relative;
  width: 194px;
  height: auto;
  border: 1px solid #fff;
}
.jumbotron .cover .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  background-color: #0282f9;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
.jumbotron .cover .cta {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0282f9;
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
.jumbotron .cover .cta a {
  text-decoration: none;
  color: #fff;
}

.container-comic {
  padding: 10% 14%;
  display: flex;
  justify-content: space-between;
}
.container-comic .info {
  width: 65%;
}
.container-comic .info .title-comic {
  text-transform: uppercase;
  color: #5996b2;
  font-size: 40px;
}
.container-comic .info .container-info {
  display: flex;
  font-size: 20px;
}
.container-comic .info .container-info .info-price-availability {
  background: #55ba59;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  color: #fff;
  border-bottom: 1px solid #303030;
  border-right: 1px solid #303030;
}
.container-comic .info .container-info .info-price-availability .col-sx .valuta {
  text-transform: capitalize;
  color: #96f08b;
}
.container-comic .info .container-info .info-price-availability .col-dx .availability {
  color: #96f08b;
  text-transform: uppercase;
}
.container-comic .info .container-info .check {
  color: #fff;
  text-transform: capitalize;
  background: #55ba59;
  padding: 20px;
  width: 30%;
  border-bottom: 1px solid #303030;
  text-align: center;
}
.container-comic .info .container-info .check .icon-toggle {
  font-size: 14px;
  margin-left: 10px;
}
.container-comic .info .description {
  margin-top: 15px;
  color: #7a7f81;
  line-height: 28px;
}
.container-comic .banner-adv {
  position: relative;
  bottom: 15px;
  text-transform: uppercase;
}
.container-comic .banner-adv .text-adv {
  text-align: right;
  font-weight: 700;
  color: #7a7f81;
  font-size: 22px;
}